# Primeira entrega

Planejamento da Solução
 - Ler o artigo para pensar na saolução

Coleta de dados
 - Buscar uma forma de conectar com o banco de dados da AWS

# 0.0 Imports

In [1]:
import json
import pickle
import psycopg2

import numpy    as np
import pandas   as pd

from sqlalchemy import create_engine

## 0.1 Help Functions

In [2]:
## Function to reduce the DF size
## It is necessary that after using this code, carefully check the output results for each column.
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 10242
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 10242
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [3]:
def connection_db():
    DATABASE_URI = 'postgres+psycopg2://postgres:password@localhost:5432/books'
    db_key = json.load(open('../sprint_1/db_keys.json','r'))
    connection = psycopg2.connect(**db_key) 

    return connection

## 0.2 Conexão Banco de Dados

In [12]:
keys = json.load(open('../sprint_1/db_keys.json','r'))
url="postgresql+psycopg2://{keys['user']}:{keys['password']}@{keys['host']}:{keys['port']}/{keys['database']}"
engine = create_engine(f"postgresql+psycopg2://{keys['USER']}:{keys['PASSWORD']}@{keys['ENDPOINT']}:{keys['PORT']}/{keys['DBNAME']}",pool_size=50, echo=False)

In [13]:
table_schema = "SELECT * from information_schema.tables WHERE table_schema = 'pa004'"
df_raw = pd.read_sql( table_schema, engine )
df_raw.head(10)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,comunidadedsdb,pa004,users,BASE TABLE,None,None,None,None,None,YES,NO,None
1,comunidadedsdb,pa004,vehicle,BASE TABLE,None,None,None,None,None,YES,NO,None
2,comunidadedsdb,pa004,insurance,BASE TABLE,None,None,None,None,None,YES,NO,None

In [14]:
query = "SELECT distinct(table_schema) from information_schema.tables"
df_raw = pd.read_sql( query, engine )
df_raw.head(10)

         table_schema
0              public
1          pg_catalog
2  information_schema
3               pa004

In [18]:
query_join = """SELECT *
                FROM pa004.users AS u
                INNER JOIN pa004.vehicle AS v ON u.id = v.id
                INNER JOIN PA004.insurance AS i on u.id = i.id
                ORDER BY u.id ASC"""
df_raw = pd.read_sql( query_join, engine )
pickle.dump(df_raw,open('data/raw/df_raw.pkl','wb'))

df_raw.head(10)

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage
0,1,Male,44,28.0,26.0,1,1,> 2 Years,Yes
1,2,Male,76,3.0,26.0,2,1,1-2 Year,No
2,3,Male,47,28.0,26.0,3,1,> 2 Years,Yes
3,4,Male,21,11.0,152.0,4,1,< 1 Year,No
4,5,Female,29,41.0,152.0,5,1,< 1 Year,No
5,6,Female,24,33.0,160.0,6,1,< 1 Year,Yes
6,7,Male,23,11.0,152.0,7,1,< 1 Year,Yes
7,8,Female,56,28.0,26.0,8,1,1-2 Year,Yes
8,9,Female,24,3.0,152.0,9,1,< 1 Year,No
9,10,Female,32,6.0,152.0,10,1,< 1 Year,No

In [ ]:
del df_raw

# 1.0 Análise descritiva de dados

In [10]:
df1 = pickle.load(open('data/raw/df_raw.pkl', 'rb'))
df1.head()

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage,id,previously_insured,annual_premium,vintage,response
0,1,Male,44,28.0,26.0,1,1,> 2 Years,Yes,1,0,40454.0,217,1
1,2,Male,76,3.0,26.0,2,1,1-2 Year,No,2,0,33536.0,183,0
2,3,Male,47,28.0,26.0,3,1,> 2 Years,Yes,3,0,38294.0,27,1
3,4,Male,21,11.0,152.0,4,1,< 1 Year,No,4,1,28619.0,203,0
4,5,Female,29,41.0,152.0,5,1,< 1 Year,No,5,1,27496.0,39,0

## 1.1. Renomear Colunas

In [11]:
df1.columns

Index(['id', 'gender', 'age', 'region_code', 'policy_sales_channel', 'id',
       'driving_license', 'vehicle_age', 'vehicle_damage', 'id',
       'previously_insured', 'annual_premium', 'vintage', 'response'],
      dtype='object')

In [ ]:
columns_rename = ['genero', 'idade', 'cep', ]