In [23]:
import requests
import json
import pickle as pkl
import pandas as pd

In [19]:
df_test = pkl.load(open("../data/processed/x_validacao.pkl", 'rb'))
df_test = df_test.sample(10)
df = json.dumps(df_test.to_dict(orient = 'records'))

In [20]:
url = "http://10.109.214.178:5000/predict"
header = {'Content-type': 'application/json'}

r = requests.post(url, data = df, headers = header)

In [21]:
print(r.status_code)

200

In [24]:
df_response = pd.DataFrame(r.json())
df_response

,id,genero,idade,codigo_regiao,contato_cliente,cnh,idade_veiculo,veiculo_danificado,seguro_previo_automovel,premio_anual,cliente_dias_contrato,idade_class_etaria,premio_anual_cat,semanas_contrato,meses_contrato,prediction
0,209139,0.103489,0.184615,0.089853,152.0,1,1,0,1,0.487270,0.837370,1,2,0.837370,0.837370,0.000419
1,327864,0.137912,0.476923,0.186816,26.0,1,3,1,0,0.483158,0.114187,2,2,0.114187,0.114187,0.285438
2,349064,0.103489,0.061538,0.067907,152.0,1,1,0,1,0.419653,0.650519,1,1,0.650519,0.650519,0.000386
3,306851,0.103489,0.338462,0.186816,124.0,1,2,1,0,0.458385,0.695502,2,2,0.695502,0.695502,0.292395
4,23067,0.137912,0.384615,0.186816,120.0,1,2,1,0,0.412146,0.795848,2,1,0.795848,0.795848,0.326846
5,106169,0.103489,0.538462,0.186816,26.0,1,3,1,0,0.569461,0.979239,2,3,0.979239,0.979239,0.284810
6,359000,0.103489,0.815385,0.186816,26.0,1,3,1,0,0.000000,0.183391,3,1,0.183391,0.183391,0.263397
7,41444,0.137912,0.046154,0.072900,122.0,1,1,0,0,0.000000,0.404844,1,1,0.404844,0.404844,0.037561
8,258540,0.137912,0.430769,0.186816,124.0,1,2,0,1,0.540022,0.557093,2,2,0.557093,0.557093,0.000716
9,38591,0.137912,0.184615,0.186816,152.0,1,1,0,1,0.502256,0.622837,1,2,0.622837,0.622837,0.000644